<h1><%= t('edit_event') %>: <%= @event.name %></h1>

<div class="container">
  <%= link_to t('actions.back'), event_path, class: "btn btn-outline-highlight align-self-start" %>
  <%= render 'form' %>
</div>
