<div class="container mt-5 d-flex text-center justify-content-center">
  <div class="me-5">
    <%= link_to t('actions.back'), event_path(@event.id), class: "btn btn-outline-highlight align-self-start" %>
    <%= link_to t('actions.edit'), edit_base_price_path, class: "btn btn-outline-highlight align-self-start" %>    
  </div>  
  <h1 class="mb-5"><%= t(@base_price.chosen_category_day) %></h1>
</div>

<div class="col-md-4">
  <%= render 'base_price', base_price: @base_price %>
</div>
