

.text-darker-gray {
  color: #333;
}

.text-purper {
  color: #623cea;
}

.text-description {
  /* color: hsl(211, 13%, 61%); */
  color: hsl(240, 4.8%, 30%);
  text-align: justify;
}

.border-purper {
  border: 1px solid #623cea;
}
